@use 'global.scss';

.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  padding: 1.5rem;
  margin: 6rem 0;
  gap: 1.5rem;

  background-color: var(--gray-800);
  border-radius: 8px;

  @media (max-width: 768px) {
    display: block;
  }
  
  &__avatar {
    width: 35%;
    height: 80%;
    border-radius: 8px;

    @media (max-width: 768px) {
      width: 80%;
      margin: 1rem auto;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__list {
      display: flex;
      
      gap: 1rem;

      &__item {
        padding: 1rem;
        background-color: var(--red-500);

        border: 1px solid var(--red-500);
        border-radius: 8px;

        transition: 0.3s;

        &:hover {
          border: 1px solid var(--white);
          background-color: transparent;
        }

        img {
          width: 2rem;
        }
      }
    }
  }
}