:root {
  // Cores principais
  --red-500: #e53939;
  --red-700: #751818;
  --black: #000;
  --white: #fff;

  // Cores secundarias 
  --gray-100: #e1e1e6;
  --gray-300: #c4c4cc;
  --gray-400: #8d8d99;
  --gray-600: #323238;
  --gray-700: #29292e;
  --gray-800: #202024;
  --gray-900: #121214;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:focus {
  outline: transparent;
  box-shadow: 0 0 0 2px var(--red-500);
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--red-500);
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--gray-900);
}

body {
  background-image: linear-gradient(45deg, var(--gray-900) 70%, var(--red-700));
  color: var(--white);
  -webkit-font-smoothing: antialiased;
}

body, button {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.hidden {
  visibility: hidden;
}
