@use 'global.scss';
@use 'navbar.scss';
@use 'hero.scss';
@use 'about.scss';
@use 'projects.scss';
@use 'knowledge.scss';

.main {
  max-width: 1024px;
  margin: 0 auto;
  padding: 1rem;
}

.emphasis {
  font-weight: bold;
  color: var(--red-500);
}

.title {
  font-size: 2rem;
}

.subTitle {
  padding: 1rem 0 2rem 0;

  font-size: 1.2rem;
  color: var(--gray-100);
  opacity: 0.7;
}

.text {
  font-size: 1rem;
  line-height: 1.6;
  padding-bottom: 1.5rem;
}

.btn {
  display: inline-block;
  padding: 0.7rem 2rem;

  border-radius: 8px;
  border: 1px solid var(--red-500);
  background-color: var(--red-500);

  color: var(--gray-100);
  font-weight: bold;
  text-decoration: none;

  transition: 0.3s;

  &:hover {
    border: 1px solid var(--white);
    background-color: transparent;
  }
}

.hidden {
  visibility: hidden;
}

.background {
  padding: 1.5rem;
  margin: 6rem 0;

  background-color: var(--gray-800);
  border-radius: 8px;
}

.footer {
  text-align: center;

  padding: 1.5rem;

  background-color: var(--gray-800);
}